.bar_wpp {
    position: fixed;
    bottom: 5px;
    right: 70px;
    z-index: 120;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.75);
}

.bar_number {
    bottom: 50px;
}

.bar_wpp a {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    opacity: .7;
}

.bar_wpp .icon_wpp i {
    color: #ffffff;
    font-size: 20px;
}

.bar_wpp .icon_wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c7619;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 2;
}

.bar_wpp .txt_wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0e3f14;
    color: #ffffff;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-right: 11px;
    padding-left: 45px!important;
    margin-left: -35px;
    z-index: 1;
    border-radius: 50px;
}

.bar_wpp a:hover {
    text-decoration: none !important;
}

.bar_wpp a:hover .icon_wpp {
    background-color: #0e3f14;
}

.bar_wpp a:hover .txt_wpp {
    background-color: #0c7619;
}

.btn-fix-number {
    position: absolute;
    margin-top: -9px;
}

.btn-fix-title {
    margin-top: 15px;
}

.icon_info {
    background-color: #1871be !important
}

.txt_info {
    background-color: #014986 !important
}

@media(max-width: 575px) {
    .bar_wpp {
        right: auto;
        right: 15px;
        bottom: 15px;
    }

    .bar_wpp .icon_wpp i {
        font-size: 25px;
    }

    .bar_wpp .txt_wpp {
        display: none;
    }

    .bar_number {
        display: none;
    }
}